@use '../index.scss';

  $main-color: index.$light-grey;
  $focus-color: index.$blue;


.list{
  margin-block: 0;
  display: inline-block;
  padding: 5px 0;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  z-index: 10;
  animation: dropDown 0.5s ease-in;
  & > *{
    list-style-type: none;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 2px;
    max-width: 100%;
    background-color: #fff;
    &:hover{
      background-color: $main-color;
      cursor: pointer;
    }
  }
}

@keyframes dropDown {
  0% {
    transform: rotateX(-90deg)
}
70% {
    transform: rotateX(20deg)
}
100% {
    transform: rotateX(0deg)
}
}