.wrapper{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 4px 26px -8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 328px;
}

.option{
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  margin: 10px 0;
}