
@use "../index";

  $main-color: index.$light-grey;
  $focus-color: index.$blue;
  $error-color: index.$red;

  @mixin focus-label{
    position: absolute;
    background-color: inherit;
    overflow: hidden;
    top:0;
    left: 16px;
    transform: translateY(-50%);
    font-size: 12px;
    font-weight: 300;
    padding: 0 2px;
    transition: 0.3s;
  }

  .container{
    display: block;
    background-color: inherit;
  }

.wrapper{
  position: relative;
  width: 328px;
  background-color: inherit;
}

.input{
  box-sizing: border-box;
  outline:none;
  height: 56px;
  width: 100%;
  padding-left: 20px;
  background-color: inherit;
  border: 2px solid  $main-color;
  border-radius: 5px;
  font-size: 1em;
  &:focus{
    border-color: $focus-color;
    & + label{
      @include focus-label;
      color: $focus-color;
    }
  }
  &.error{
    border-color: $error-color!important;
    & + label{
      color: $error-color;
    }
  }
  &.size_M{
    height: 40px;
  }
  &.size_L{
    height: 56px;
  }
}

.error-text{
  color: $error-color;
  font-size: 0.75rem;
  text-align: left;
  padding-left: 16px;
}

.label{
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'T-Star Pro';
  font-size: 16px;
  font-weight: 500;
  color: $main-color;
  transition: 0.3s;
  &-focus{
    @include focus-label;
  }
  &:hover{
    cursor: text;
  }
}

.option{
  position: absolute;
  top: 0;
  right: 16px;
  width: 20px;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
