@font-face {
  font-family: 'T-Star Pro';
  src: url('./font/T-StarPro-Medium.eot');
  src: local('./fontT-Star Pro Medium'), local('T-StarPro-Medium'),
      url('./font/T-StarPro-Medium.woff2') format('woff2'),
      url('./font/T-StarPro-Medium.woff') format('woff'),
      url('./font/T-StarPro-Medium.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

.wrapper{
  position: relative;
}

.input{
  outline:none;
  height: 56px;
  width: 328px;
  border: 2px solid  #D7DBE2;
  border-radius: 5px;
  padding: 0 25px;
  font-size: 1em;
}

.label{
  position: absolute;
  background-color: #fff;
  left: 16px;
  top: 16px;
  font-family: 'T-Star Pro';
  font-size: 16px;
  font-weight: 500;
  color: #D7DBE2;
  transition: 0.3s;
}

.input:focus{
  border-color: #10A8C9;
}

input:focus + label{
  color: #10A8C9;
  ;
}

.focus-label{
  position: absolute;
  background-color: #fff;
  top: -10px;
  left: 16px;
  font-size: 12px;
  font-weight: 300;
  padding: 0 2px;
  transition: 0.3s;
}