
@use "../index";

  $main-color: index.$light-grey;
  $focus-color: index.$blue;
  $error-color: index.$red;

  .container{
    display: block;
    background-color: inherit;
  }

.wrapper{
  position: relative;
  width: 328px;
  background-color: inherit;
}

.input{
  box-sizing: border-box;
  outline:none;
  height: 56px;
  width: 100%;
  padding-left: 20px;
  background-color: inherit;
  border: 2px solid  $main-color;
  border-radius: 5px;
  font-size: 1em;
  &:focus{
    border-color: $focus-color;
    & + label{
      color: $focus-color;
      position: absolute;
      background-color: inherit;
      top:0;
      transform: translateY(-50%);
      left: 16px;
      font-size: 12px;
      font-weight: 300;
      padding: 0 2px;
      transition: 0.3s;
    }
  }
  &.error{
    border-color: $error-color!important;
    & + label{
      color: $error-color;
    }
  }
  &.size_M{
    height: 40px;
  }
  &.size_L{
    height: 56px;
  }
}

.error-text{
  color: $error-color;
  font-size: 0.75rem;
  margin-block: 0;
  text-align: left;
  padding-left: 16px;
}

.label{
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'T-Star Pro';
  font-size: 16px;
  font-weight: 500;
  color: $main-color;
  transition: 0.3s;
  &-focus{
    position: absolute;
    top: -10px;
    left: 16px;
    font-size: 12px;
    font-weight: 300;
    padding: 0 2px;
    transition: 0.3s;
  }
  &:hover{
    cursor: text;
  }
}

.option{
  position: absolute;
  top: 0;
  right: 16px;
  width: 20px;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
