
@use '../index.scss';

.badge-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  color: #fff;
  border-radius: 4px;
  width: fit-content;
}

.orange{
  background-color: index.$orange;
}

.bright-orange{
  background-color: #FF8437;
}

.green{
  background-color: #6FCF97;
}

.dark-green{
  background-color: #219653;
}

.red{
  background-color: #EB5757;
}

.blue{
  background-color: #2F80ED;
}

.light-blue{
  background-color: #56CCF2;
}

.grey{
  background-color: index.$dark-grey;
}
