@use '../index.scss';

$main-color: index.$blue;
$title-color: index.$dark-navy;
$code-color: index.$dark-grey;

.card-container{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 382px;
  padding: 6px;
  background-color: #fff;
  border-radius: 4px;
}

.head{
  height: 150px;
  box-sizing: border-box;
  position: relative;
}

.img{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.surface{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
}

.badge-container{
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-right: 10px;
}

.more-btn{
  width: 20px;
  cursor: pointer;
}

.info-block{
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  & > :nth-child(1){
    margin-bottom: 4px;
    color: $title-color;
    cursor: pointer;
    &:hover{
      color: $main-color;
    }
  }
  & > :nth-child(2){
    margin-bottom: 7px;
    color: $code-color;
  }
  & > :nth-child(3){
    margin-bottom: 7px;
    height: 18px;
    width: 136px;
  }
  & > :nth-child(4){
    color: $code-color;
  }
}

.action-block{
  margin-bottom: 10px;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  & > :first-child{
    color: $title-color;
  }
  & > button{
    border: none;
    border-radius: 4px;
    background-color: $main-color;
    color: #fff;
    padding: 9px 24px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
  }
}

.price{
  display:flex;
  align-items: flex-end;
  & > :first-child{
    white-space: nowrap;
  }
  & > img{
    height: 15px;
    margin-left: 6px;
  }
}