*{
  text-align: left;
}

.heading1{
  font-size: 34px;
  line-height: 38px;
  font-weight: bold;
}

.heading2{
  font-size: 28px;
  line-height: 36px;
  font-weight: bold;
}

.heading3{
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.heading4{
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}

.heading5{
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.subtitleM{
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}

.subtitleS{
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}

.bodyL{
  font-size: 16px;
  line-height: 20px;
  font-weight: medium;
}

.bodyM{
  font-size: 14px;
  line-height: 20px;
  font-weight: medium;
}

.caption{
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
}
