@use '../index.scss';

$active-color: index.$blue;

.radio-button{
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background-color: inherit;
  margin: 0;
  font: inherit;
  color: $active-color;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid $active-color;
  border-radius: 50%;
  display: grid;
  place-content: center;
  &::before{
    box-sizing: border-box;
    content: ' ';
    background-color: $active-color;
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s transform ease-in-out;
  }
  &:checked::before{
    transform: scale(1);
  }
}