.modal{
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.default-centered{
  display: flex;
  justify-content: center;
  align-items: center;
}
