@use '../index.scss';

$bg-color: index.$dark-navy;
$main-color: index.$blue;
$option-color: index.$middle-grey;
$milk: index.$milk-grey;

$animation-duration: 0.5s;

$close-width: 90px;
$open-width: 320px;

@mixin default-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 13px;
  background-color: $bg-color;
  transition: all $animation-duration;
}

.container{
  @include default-container;
  width: $open-width;
  &-closed{
    @include default-container;
    width: $close-width;
    & > .sidebar_header{
      justify-content: center;
    }
  }
}

.sidebar_header{
  display: flex;
  justify-content: space-between;
  & > .logo{
    background-color: rgba(138, 138, 138, 0.33);
    min-height: 44px;
  }
  & > *{
    stroke: $main-color;
    padding: 0;
  }
}

.toggle{
  border: none;
  background-color: transparent;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  &-open{
    width: 52px;
    justify-content: flex-end;
    transition: all $animation-duration;
    & > *{
      transform: rotate(0deg);
      transition: $animation-duration;
    }
  }
  &-closed{
    width: 62px;
    justify-content: center;
    transition: all $animation-duration;
    & >*{
      transform: rotate(-180deg);
      transition: $animation-duration;
    }
  }
}

.btn_newproject{
  background-color: $main-color;
  border-radius: 8px;
  margin-top: 1.2rem;
  margin-bottom: 2rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 64px;
  box-sizing: border-box;
  overflow: hidden;
  & > .btn-bg{
    width: 60px;
    background-color: $main-color;
    z-index: 1;
    & > button{
      margin: 1rem;
      border: none;
      width: 2rem;
      height: 2rem;
      background-color: #fff;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2;
      & >*{
        fill: $main-color;
      }
    }
  }
  & > .btn_new_label{
    margin-left: 6px;
    flex: 1 1 auto;
    white-space: nowrap;
    cursor: pointer;
  }
}

.open{
  width: $open-width - $close-width;
  transition: all $animation-duration;
}

.hidden{
  width: 0px;
  transition: all $animation-duration;
}

@mixin option{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 10px 0;
  padding: 1px;
  transition: all $animation-duration;
}

@mixin icon-container{
  display: flex;
  width: 20px;
  height: 20px;
  stroke: $option-color;
  transition: all $animation-duration;
}

@mixin label{
  color: $option-color;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  transition: all $animation-duration;
}

.option{
  @include option;
  &-closed{
    @include option;
    & > :first-child{
      @include icon-container;
      justify-content: center;
      padding-right: 0;
    }
    & > :last-child{
      @include label;
    }
  }
  & > :first-child{
    @include icon-container;
    justify-content: flex-start;
    padding-right: 20px;
  }
  & > :last-child{
    @include label;
    flex: 1 1 auto;
  }
}

.profile-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1 1 auto;
  overflow: hidden;
}

.profile-block{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 0 1 210px;
  background-color: rgba(153, 153, 153, 0.2);
  padding: 20px;
  border-radius: 6px;
  & > .info{
    height: 42px;
    margin-top: 15px;
    transition: $animation-duration + 0.2;
    & > :first-child{
      color: $option-color;
    }
    & > :last-child{
      color: $milk;
    }
  }
  &-closed{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 1 auto;
    transition: $animation-duration;
    & > .info{
      height: 0;
      margin-bottom: 0px;
      transition: $animation-duration;
      & > :first-child{
        color: $option-color;
      }
      & > :last-child{
        color: $milk;
      }
    }
  }
}

.help-block{
  display: flex;
  justify-content: space-between;
  height: 1.5rem;
  margin-bottom: 5px;
  &-closed{
    height: 0;
    overflow: hidden;
    transition: $animation-duration;
  }
}
