


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 100px;
  background: #E5E5E5;
  width: 100%;
}

.inputs{
  background: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
}
