


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 100px;
  background: #E5E5E5;
  width: 100%;
  box-sizing: border-box;
}

.inputs{
  background-color: rgb(29, 29, 29);
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  color:aliceblue;
  padding: 20px 0;
}

.list-components{
  display: flex;
  gap: 15px;
}

.badge{
  display: flex;
  gap: 20px;
}
