

.App {
  text-align: center;
  padding-bottom: 10px;
  background: #E5E5E5;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.buttons{
  padding: 15px;
  display:flex;
  align-items: center;
  width: 70%;
  gap: 20px;
  & >*{
    background-color: #fff;
  }
}

.container1{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.sidebar-container{
  display:flex;
  flex: 1 1 100%;
  flex-direction: row;
}

.inputs{
  background-color: rgb(29, 29, 29);
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  color:aliceblue;
  padding: 20px 0;
}

.list-components{
  display: flex;
  gap: 15px;
}

.badge{
  display: flex;
  gap: 20px;
}


.scroll{
  width: 250px;
  height: 250px;
  overflow: scroll;
  background-color: rgb(105, 104, 104);
}

.icon_container{
  width: 250px;
  height: 60px;
  display: flex;
  border: 1px solid blue;
  margin: 10px;
}

.icon_container > div{
  width: 50px;
  height: 50px;
  margin: 5px;
}

.cards-container{
  display: flex;
  gap: 10px;
  padding: 10px;
}