@use '../../index';

  $header-color: index.$milk-grey;
  $text-color: index.$dark-navy;
  $main-color: index.$blue;
  $text-secondary: index.$middle-grey;


  @mixin calendar-default {
    position: absolute;
    top: 20px;
    right: -32px;
    color: $text-color;
    font-family: 'T-Star Pro';
    border-radius: 15px;
    overflow: hidden;
    transition: 0.3s;
  }

  .wrapper{
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
  }

  .icon-container{
    position: relative;
    cursor: pointer;
    & svg > path{
      stroke: $main-color;
    }
  }

  .calendar-wrapper{
    position: relative
  }

  .calendar{
    @include calendar-default;
    display: none;
  }

  .visible{
    @include calendar-default;
    display: block;
    animation: rotate 500ms ease-in-out forwards;
    transform-origin: top center;
  }

  .calendar-head{
    background-color: $header-color;
    padding: 0 10px;
    &  .help{
      font-size: 12px;
      padding-top: 10px;
      margin-block: 0;
    }
    & > :nth-child(2){
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      & p{
        font-size: 28px;
        font-weight: 700;
        margin-block: 0;
        padding: 10px 0;
      }
      & > :last-child{
        transform: rotate(180deg);
      }
    }
    & img{
      cursor: pointer;
    }
  }

  .week-days{
    display: flex;
    justify-content: space-around;
    & >*{
      display: inline-block;
      margin: 8px 0px;
      width: 30px;
      font-size: 18px;
      color: $text-secondary;
    }
  }

  .days-container{
    display: grid;
    grid-template-rows: repeat(5,46px);
    grid-template-columns: repeat(7,46px);
    gap: 2px;
    margin: 0 10px;
    background-color: rgb(248, 248, 248,0);
    overflow: hidden;
    & >*{
      margin-block-start: 0;
      margin-block-end: 0;
      line-height: 46px;
      font-size: 20px;
      background-color: #fff;
      &:hover{
        border: 2px solid $main-color;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
        // &::after{
        //   content:'';
        //   display: block;
        //   position: absolute;
        //   top:50%;
        //   right: 50%;
        //   transform: translate(50%,-50%);
        //   width: 80px;
        //   height: 80px;
        //   background-color: $text-secondary;
        //   z-index: -1;
        //   border-radius: 50%;
        // }
      }
    }
  }

  .non-valid_range{
    color: $text-secondary;
  }

  .today{
    color: $main-color;
    font-weight: 600;
  }

  @keyframes rotate {
    0% {
        transform: rotateX(-90deg)
    }
    70% {
        transform: rotateX(20deg)
    }
    100% {
        transform: rotateX(0deg)
    }
}

.selected{
  background-color: $main-color;
  color: #fff;
  border-radius: 5px;
}


